{%extends 'base.html'%}

{% block content %}

<div class="container text-center">
    <figure >
        <img style="border-radius: 100%; width: 250px; height: 250px; margin-top: 10px;" src="{{profile.image.url}}" alt="{{profile.first_name}}">
    </figure>
    <h1>{{profile.first_name}} {{profile.last_name}}</h1>
    <h2>Neighbourhood: {{profile.neighbourhood_id.hood_name}}</h2>
    <h2>Email: {{profile.email}}</h2>
    {% if profile.bio %}
    <h2>Bio: {{profile.bio}}</h2>
    {% endif %}
    <a href="#" class="btn btn-outline-success btn-lg" style="margin-bottom: 10px;">Edit Profile</a>
</div>

{%endblock%}